<!DOCTYPE html>
<html lang="en">
<head>
  <title>FinTacToe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/dashboard.css" media="screen" charset="utf-8">
  <script src="js/dashboard.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">FinTacToe</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Dashboard</a></li>
          <li><a href="#">OCR</a></li>
          <li><a href="#">Gender</a></li>
          <li><a href="#">Geo</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav hidden-xs">
        <h2>FinTacToe</h2>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#section1">Talk Code</a></li>
          <li><a href="/ocr">OCR</a></li>
          <li><a href="/glass">Glass</a></li>
          <li><a href="#section3">Geo</a></li>
        </ul><br>
      </div>
      <br>

      <div class="col-sm-9">
        <div class="well">
          <h4>Dashboard - Speak</h4>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="well well-lg">
              <div class="col-xs-8">
                <input id="input" type="text" class="form-control">
              </div>
               <button id="rec" class="btn btn-success">Speak</button>
               <ol>
                 <li>bootstrap button</li>
                 <li>give me my client list</li>
                 <li>clear test area</li>
                 <li>green background</li>
                 <li>red background</li>
                 <li>secret command</li>
               </ol>
            </div>
            <div class="well">
              <h4>AI Playground</h4>
              <div id="testarea"></div>
            </div>
            <div class="well">
              <h5>Response</h5> <textarea id="response" cols="40" rows="20"></textarea>
              <button id="showjson" type="button" name="button" class="btn btn-warning">Show JSON</button>
            </div>
            <div class="well well-lg">
              <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
                <img src="img/car.png" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
              </div>

              <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="http://rawgit.com/bevacqua/dragula/master/dist/dragula.js"></script>
  <script src="js/dragndrop.js"></script>
  </body>
</html>
