<!DOCTYPE html>
<html lang="en">
<head>
  <title>Optical Character Recognition</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/ocr.css">
</head>
  <body>
    <nav class="navbar navbar-inverse visible-xs">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#">Talk Code</a></li>
            <li class="active"><a href="#">OCR</a></li>
            <li><a href="#">Gender</a></li>
            <li><a href="#">Geo</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
          <h2>Logo</h2>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="/dashboard">Talk Code</a></li>
            <li class="active"><a href="/ocr">OCR</a></li>
            <li><a href="/glass">Glass</a></li>
            <li><a href="#section3">Geo</a></li>
          </ul><br>
        </div>
        <br>
        <div class="col-sm-9">
          <form id="data">
            <input type="hidden" name="id" value="123" readonly="readonly">
            Profile Image: <input name="profileImg[]" type="file" /><br />
            <input type="submit" value="Submit">
          </form>
          <div class="ocr-result"></div>
          <div id="ocr-table"></div>
          <table class="table">
            <thead>
              <tr>
                <th>WordText</th>
                <th>Height</th>
                <th>Left</th>
                <th>Top</th>
                <th>Width</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>280</td>
                <td>19</td>
                <td>188</td>
                <td>35</td>
                <td>28</td>
              </tr>
              <tr>
                <td>st</td>
                <td>16</td>
                <td>310</td>
                <td>60</td>
                <td>16</td>
              </tr>
              <tr>
                <td>New</td>
                <td>20</td>
                <td>166</td>
                <td>52</td>
                <td>29</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="js/ocr.js"></script>
  </body>
</html>
