<html>
<head>
	<title>OCR</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" class="ui" href="https://oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.css">
	<link rel="stylesheet" href="css/dashboard.css" media="screen" charset="utf-8">
</head>
<body>
	<!-- Following Menu -->
	<div class="ui large top fixed hidden menu">
	  <div class="ui container">
			<a class="item">Home</a>
			<a class="active item" href="/ocr">OCR</a>
			<a class="item" href="/dashboard">AI Dashboard</a>
			<a class="item" href="/glass">Glass</a>
			<a class="item" href="/ideas">Ideas</a>
	    <div class="right menu">
	      <div class="item">
	        <a class="ui inverted button" href="https://github.com/lanbau/fintactoe">Fork Project</a>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Sidebar Menu -->
	<div class="ui vertical inverted sidebar menu">
		<a class="item">Home</a>
		<a class="active item" href="/ocr">OCR</a>
		<a class="item" href="/dashboard">AI Dashboard</a>
		<a class="item" href="/glass">Glass</a>
		<a class="item" href="/ideas">Ideas</a>
		<div class="right item">
			<a class="ui inverted button" href="https://github.com/lanbau/fintactoe">Fork Project</a>
		</div>
	</div>


	<!-- Page Contents -->
	<div class="pusher">
	  <div class="ui inverted vertical masthead center aligned segment">

	    <div class="ui container">
	      <div class="ui large secondary inverted pointing menu">
	        <a class="toc item">
	          <i class="sidebar icon"></i>
	        </a>
	        <a class="item">Home</a>
	        <a class="active item" href="/ocr">OCR</a>
					<a class="item" href="/dashboard">AI Dashboard</a>
	        <a class="item" href="/glass">Glass</a>
	        <a class="item" href="/ideas">Ideas</a>
	        <div class="right item">
	          <a class="ui inverted button" href="https://github.com/lanbau/fintactoe">Fork Project</a>
	        </div>
	      </div>
	    </div>

	    <div class="ui text container">
	      <h1 class="ui inverted header">
	        Optical Character Recognition.
	      </h1>
	      <h2>Image To Text</h2>
        <br>
        <div class="ui left action input">
          <form id="data">
            <input name="profileImg[]" type="file" />
            <input class="ui large inverted orange button" type="submit" value="Submit">
          </form>
        </div>


	    </div>
	  </div>
    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <h3 class="ui header">OCR Results</h3>
        <p><div class="ocr-result"></div></p>
        <div id="ocr-table"></div>
        <h4>Example Table</h4>
        <table class="ui celled table">
          <thead>
            <tr>
              <th>WordText</th>
              <th>Height</th>
              <th>Left</th>
              <th>Top</th>
              <th>Width</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>280</td>
              <td>19</td>
              <td>188</td>
              <td>35</td>
              <td>28</td>
            </tr>
            <tr>
              <td>st</td>
              <td>16</td>
              <td>310</td>
              <td>60</td>
              <td>16</td>
            </tr>
            <tr>
              <td>New</td>
              <td>20</td>
              <td>166</td>
              <td>52</td>
              <td>29</td>
            </tr>
          </tbody>
        </table>
        <h4 class="ui horizontal header divider">
          <a href="#">FinTacToe</a>
        </h4>
      </div>
    </div>
	  <div class="ui inverted vertical footer segment">
	    <div class="ui container">
	      <div class="ui stackable inverted divided equal height stackable grid">
	        <div class="three wide column">
	          <h4 class="ui inverted header">About</h4>
	          <div class="ui inverted link list">
	            <a href="#" class="item">About Us</a>
	            <a href="#" class="item">Contact Us</a>
	          </div>
	        </div>
	        <div class="three wide column">
	          <h4 class="ui inverted header">Services</h4>
	          <div class="ui inverted link list">
	            <a href="#" class="item">Software Pre-Order</a>
	            <a href="#" class="item">Sharing is Caring</a>
	          </div>
	        </div>
	        <div class="seven wide column">
	          <h4 class="ui inverted header">Copyright 2016</h4>
	          <p>FinTacToe.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
  <script src="js/ocr.js"></script>
</body>
</html>
