/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height:1500px;}

/* Set gray background color and 100% height */
.sidenav {
  width:200px;
  background-color: black;
  height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;}
}
